# 数据文件格式

In [1]:
import pandas as pd

## 一、JSON格式

### 1. JSON文件

JSON全称为JavaScript Object Notation，是程序员常用的数据格式类型，文件是纯文本格式。

#### JSON的对象

JSON的对象与Python的字典相类似，都是由键值对构成：{"键1":"值1", "键2":"值2", ..., "键n":"值n"}

其不同之处在于：

Json的对象中只能由字符串作为键，且字符串必须被双引号包围（单引号不行）

Json的对象中的值，只能为以下几种数据类型：

字符串（“star”），数字（98），布尔值（ture），数组（[“hi”, 5]），对象（{“age”:25}），空值（null）

#### JSON的数组

JSON的对象与Python的列表相类似：[“xiaoming”, 71, {dady_xiaoming:17776573897}]

列表中的值可以为以下几种数据类型：

字符串（“star”），数字（98），布尔值（ture），数组（[“hi”, 5]），对象（{“age”:25}），空值（null）

### 2. 运用Pandas打开JSON文件

#### 直接在Python中打开JSON文件

In [2]:
f_survey = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/cell_phones_survey.json", "r")
print(f_survey.read())

[
  {
    "questionType": "yes/no",
    "asin": "1466736038",
    "answerTime": "Mar 8, 2014",
    "unixTime": 1394265600,
    "question": "Is there a SIM card in it?",
    "answerType": "Y",
    "answer": "Yes. The Galaxy SIII accommodates a micro SIM card."
  },
  {
    "questionType": "yes/no",
    "asin": "1466736038",
    "answerTime": "Jan 29, 2015",
    "unixTime": 1422518400,
    "question": "Is this phone new, with 1 year manufacture warranty?",
    "answerType": "?",
    "answer": "It is new but I was not able to get it activated with AT&T."
  },
  {
    "questionType": "yes/no",
    "asin": "1466736038",
    "answerTime": "Nov 30, 2014",
    "unixTime": 1417334400,
    "question": "can in it be used abroad with a different carrier?",
    "answerType": "Y",
    "answer": "Yes"
  },
  {
    "questionType": "open-ended",
    "asin": "1466736038",
    "answerTime": "Nov 3, 2014",
    "unixTime": 1415001600,
    "question": "What is the warranty on this?",
    "answer": "No warranty"
  },
  {
    "questionType": "yes/no",
    "asin": "1466736038",
    "answerTime": "Oct 2, 2014",
    "unixTime": 1412233200,
    "question": "Does this phone use the regular Sim card (the bigger Sim card)?",
    "answerType": "?",
    "answer": "it takes mini sim"
  },
  {
    "questionType": "open-ended",
    "asin": "1466736038",
    "answerTime": "Sep 11, 2014",
    "unixTime": 1410418800,
    "question": "how much time you need to send me this product to miami?",
    "answer": "If you choose expedited shipping you will have the phone in 2-3 days"
  },
  {
    "questionType": "yes/no",
    "asin": "1621911888",
    "answerTime": "Dec 13, 2013",
    "unixTime": 1386921600,
    "question": "Is it unlocked?",
    "answerType": "Y",
    "answer": "yes"
  }
]

In [3]:
f_github = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/github.json", "r")
print(f_github.read())

{
  "owner": "pelmers",
  "name": "text-rewriter",
  "stars": 11,
  "forks": 4,
  "watchers": 3,
  "isFork": false,
  "languages": [
    {
      "name": "JavaScript",
      "size": 21769
    },
    {
      "name": "HTML",
      "size": 2096
    },
    {
      "name": "CSS",
      "size": 2081
    }
  ],
  "description": "Webextension to rewrite phrases in pages",
  "createdAt": "2015-03-14T22:35:11Z",
  "pushedAt": "2022-02-11T14:26:00Z",
  "license": null
}

#### 运用Pandas打开JSON文件

In [4]:
survey_df = pd.read_json("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/cell_phones_survey.json")
survey_df

,questionType,asin,answerTime,unixTime,question,answerType,answer
0,yes/no,1466736038,"Mar 8, 2014",1394265600,Is there a SIM card in it?,Y,Yes. The Galaxy SIII accommodates a micro SIM ...
1,yes/no,1466736038,"Jan 29, 2015",1422518400,"Is this phone new, with 1 year manufacture war...",?,It is new but I was not able to get it activat...
2,yes/no,1466736038,"Nov 30, 2014",1417334400,can in it be used abroad with a different carr...,Y,Yes
3,open-ended,1466736038,"Nov 3, 2014",1415001600,What is the warranty on this?,NaN,No warranty
4,yes/no,1466736038,"Oct 2, 2014",1412233200,Does this phone use the regular Sim card (the ...,?,it takes mini sim
5,open-ended,1466736038,"Sep 11, 2014",1410418800,how much time you need to send me this product...,NaN,If you choose expedited shipping you will have...
6,yes/no,1621911888,"Dec 13, 2013",1386921600,Is it unlocked?,Y,yes

In [5]:
github_df = pd.read_json("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/github.json")
github_df

,owner,name,stars,forks,watchers,isFork,languages,description,createdAt,pushedAt,license
0,pelmers,text-rewriter,11,4,3,False,"{'name': 'JavaScript', 'size': 21769}",Webextension to rewrite phrases in pages,2015-03-14T22:35:11Z,2022-02-11T14:26:00Z,NaN
1,pelmers,text-rewriter,11,4,3,False,"{'name': 'HTML', 'size': 2096}",Webextension to rewrite phrases in pages,2015-03-14T22:35:11Z,2022-02-11T14:26:00Z,NaN
2,pelmers,text-rewriter,11,4,3,False,"{'name': 'CSS', 'size': 2081}",Webextension to rewrite phrases in pages,2015-03-14T22:35:11Z,2022-02-11T14:26:00Z,NaN

注：可以通过对比看JSON文件与Dataframe之间的转换是存在逻辑关系的。

##  二、CSV格式

### 1. CSV文件

CSV全称为Comma-Separated Values(逗号分隔值)，是数据分析师常用的数据格式类型，文件也是纯文本格式。

#### CSV文件格式

CSV文件里面的文本通过逗号分隔文本，实际上就是一个表格的形式：

colunm1,colunm2,colunm3,...,colunmn  
element11,element12,element13,...,element1n  
element21,element22,element23,...,element2n  
...  
elementm1,elementm2,elementm3,...,elementmn

In [6]:
f_personal = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/personal_data.csv", "r")
print(f_personal.read())

CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
1,Male,19,15000,39,"Healthcare,Social Work",1,4
2,Male,21,35000,81,Engineer,3,3
3,Female,20,86000,6,Engineer,1,1
4,Female,23,59000,77,Lawyer,0,2
5,Female,31,38000,40,Entertainment,2,6
6,Female,22,58000,76,Artist,0,2
7,Female,35,31000,6,Healthcare,1,3
8,Female,23,84000,94,Healthcare,1,3
9,Male,64,97000,3,Engineer,0,3
10,Female,30,98000,72,Artist,1,4
11,Male,67,7000,14,Engineer,1,3
12,Female,35,93000,99,Healthcare,4,4
13,Female,58,80000,15,Executive,0,5
14,Female,24,91000,77,Lawyer,1,1
15,Male,37,19000,13,Doctor,0,1
16,Male,22,51000,79,Healthcare,1,2
17,Female,35,29000,35,Homemaker,9,5
18,Male,20,89000,66,Healthcare,1,6
19,Male,52,20000,29,Entertainment,1,4
20,Female,35,62000,98,Artist,0,1
21,Male,35,96000,35,Homemaker,12,1
22,Male,25,4000,73,Healthcare,3,4

### 2. 运用Pandas打开CSV文件

In [7]:
personal_df = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/personal_data.csv")
personal_df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,"Healthcare,Social Work",1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
5,6,Female,22,58000,76,Artist,0,2
6,7,Female,35,31000,6,Healthcare,1,3
7,8,Female,23,84000,94,Healthcare,1,3
8,9,Male,64,97000,3,Engineer,0,3
9,10,Female,30,98000,72,Artist,1,4
10,11,Male,67,7000,14,Engineer,1,3
11,12,Female,35,93000,99,Healthcare,4,4
12,13,Female,58,80000,15,Executive,0,5
13,14,Female,24,91000,77,Lawyer,1,1
14,15,Male,37,19000,13,Doctor,0,1
15,16,Male,22,51000,79,Healthcare,1,2
16,17,Female,35,29000,35,Homemaker,9,5
17,18,Male,20,89000,66,Healthcare,1,6
18,19,Male,52,20000,29,Entertainment,1,4
19,20,Female,35,62000,98,Artist,0,1
20,21,Male,35,96000,35,Homemaker,12,1
21,22,Male,25,4000,73,Healthcare,3,4

In [8]:
players_df = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/fifa_players.csv")
players_df

/var/folders/c5/wl5020591lz1g_q4qbdlp4b80000gn/T/ipykernel_88698/3951043042.py:1: DtypeWarning: Columns (108) have mixed types. Specify dtype option on import or set low_memory=False.
  players_df = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/fifa_players.csv")

,player_id,player_url,fifa_version,fifa_update,fifa_update_date,short_name,long_name,player_positions,overall,potential,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,player_face_url
0,158023,/player/158023/lionel-messi/150002,15,2,2014-09-18,L. Messi,Lionel Andrés Messi Cuccittini,CF,93,95,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,https://cdn.sofifa.net/players/158/023/15_120.png
1,20801,/player/20801/c-ronaldo-dos-santos-aveiro/150002,15,2,2014-09-18,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"LW, LM",92,92,...,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,16+3,https://cdn.sofifa.net/players/020/801/15_120.png
2,9014,/player/9014/arjen-robben/150002,15,2,2014-09-18,A. Robben,Arjen Robben,"RM, LM, RW",90,90,...,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,14+3,https://cdn.sofifa.net/players/009/014/15_120.png
3,41236,/player/41236/zlatan-ibrahimovic/150002,15,2,2014-09-18,Z. Ibrahimović,Zlatan Ibrahimović,ST,90,90,...,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,17+3,https://cdn.sofifa.net/players/041/236/15_120.png
4,167495,/player/167495/manuel-neuer/150002,15,2,2014-09-18,M. Neuer,Manuel Peter Neuer,GK,90,90,...,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3,87+3,https://cdn.sofifa.net/players/167/495/15_120.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161578,269011,/player/269011/ziye-zhao/230002,23,2,2022-09-26,Zhao Ziye,赵梓业,RW,46,61,...,32+2,32+2,37+2,36+2,31+2,31+2,31+2,36+2,14+2,https://cdn.sofifa.net/players/269/011/23_120.png
161579,269019,/player/269019/junjie-wu/230002,23,2,2022-09-26,Wu Junjie,吴俊杰,LB,46,58,...,41+2,41+2,43+2,44+2,48+2,48+2,48+2,44+2,15+2,https://cdn.sofifa.net/players/269/019/23_120.png
161580,271093,/player/271093/kailin-barlow/230002,23,2,2022-09-26,K. Barlow,Kailin Barlow,CDM,46,58,...,45+2,45+2,47+2,47+2,46+2,46+2,46+2,47+2,14+2,https://cdn.sofifa.net/players/271/093/23_120.png
161581,271555,/player/271555/gideon-tetteh/230002,23,2,2022-09-26,G. Tetteh,Gideon Tetteh,"RW, LW",46,70,...,30+2,30+2,34+2,32+2,28+2,28+2,28+2,32+2,15+2,https://cdn.sofifa.net/players/271/555/23_120.png
161582,271608,/player/271608/aqeel-al-dhafeeri/230002,23,2,2022-09-26,A. Al Dhafeeri,Aqeel Al Dhafeeri,CB,46,63,...,40+2,40+2,39+2,41+2,46+2,46+2,46+2,41+2,13+2,https://cdn.sofifa.net/players/271/608/23_120.png

## 补充：文件读写

### 文件的读写分三步走：打开文件，操作文件，关闭文件

### 1. 打开与关闭文件

运用open函数来打开文件: open(file_name, mode, encoding=None)  

file_name是文件路径（绝对路径&相对路径）  

mode是打开文件的方式，最常用的有r（只读），w(只写)，a(追加)  

encoding是编码方式，默认为None，常见编码方式为utf-8

注：open( )方法的返回值是一个file对象，可以将它赋值给一个变量。

运用close函数来关闭文件: file.close( )

注：这里的file是一个对象，使用对象调出函数，来操作关闭。

#### 打开与关闭文件

In [9]:
# 打开一个文件（将打开的文件赋值给变量f）
f = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/poem.txt", "r")
f.close()

#### 补充：如何找到文件路径

把文件拖入终端中，即可得到文件的绝对路径

### 2. 操作文件

对文件的操作主要是读写文件中的内容

运用read函数读取文件：read（ ）

运用write函数写文件：write（“写入的内容”）

注：要读文件需要在“r”(只读)模式下打开文件，要写文件需要在“w”(只写)模式下打开文件

#### （1）写入文件

In [10]:
f = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/poem.txt", "w")
f.write('''
《酬乐天扬州初逢席上见赠》
刘禹锡
巴山楚水凄凉地，二十三年弃置身。
怀旧空吟闻笛赋，到乡翻似烂柯人。
沉舟侧畔千帆过，病树前头万木春。
今日听君歌一曲，暂凭杯酒长精神。
''')
f.close()

#### （2）读取文件

In [11]:
f = open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/poem.txt", "r")
print(f.read())
f.close()

《酬乐天扬州初逢席上见赠》
刘禹锡
巴山楚水凄凉地，二十三年弃置身。
怀旧空吟闻笛赋，到乡翻似烂柯人。
沉舟侧畔千帆过，病树前头万木春。
今日听君歌一曲，暂凭杯酒长精神。

### 3. 运用with打开和操作文件

运用with关键字打开文件，可以避免open打开文件在操作过程可能出现的异常或错误，或者最后忘执行close，导致非正常关闭进而使得文件泄露、破坏的问题。

运用with打开文件：with open (file_name, mode)  as f

In [12]:
with open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/poem.txt", "r") as f:
    print(f.read())

《酬乐天扬州初逢席上见赠》
刘禹锡
巴山楚水凄凉地，二十三年弃置身。
怀旧空吟闻笛赋，到乡翻似烂柯人。
沉舟侧畔千帆过，病树前头万木春。
今日听君歌一曲，暂凭杯酒长精神。

#### 运用with打开多个文件

In [13]:
with open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/poem.txt", "r") as f1, open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/foo.txt", "w") as f2:
    f2.write("python是我学习的第一门编程语言。\n我会学好python的！")
    print(f1.read())

《酬乐天扬州初逢席上见赠》
刘禹锡
巴山楚水凄凉地，二十三年弃置身。
怀旧空吟闻笛赋，到乡翻似烂柯人。
沉舟侧畔千帆过，病树前头万木春。
今日听君歌一曲，暂凭杯酒长精神。

In [14]:
with open("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_FileFomat/foo.txt", "r") as f2:
    print(f2.read())

python是我学习的第一门编程语言。
我会学好python的！