# 项目：评估和清理英国电商公司销售数据

## 分析目标

此数据分析的目的是，根据市场销售数据，挖掘畅销产品，以便制定更有效的市场策略来提升营收。

本实战项目的目的在于练习评估数据干净和整洁度，并且基于评估结果，对数据进行清洗，从而得到可供下一步分析的数据。

## 简介

原始数据集记录了一家英国在线零售公司在2010年12月1日至2011年12月9日期间的所有交易情况，涵盖了该公司在全球不同国家和地区的业务数据。该公司主要销售覆盖各个场景的礼品，包括但不限于生日礼品、结婚纪念品、圣诞礼品等等。该公司的客户群体主要包括批发商和个人消费者，其中批发商占据了相当大的比例。

数据每列的含义如下：
- `InvoiceNo`: 发票号码。6位数，作为交易的唯一标识符。如果这个代码以字母“c”开头，表示这笔交易被取消。
- `StockCode`: 产品代码。5位数，作为产品的唯一标识符。
- `Description`: 产品名称。
- `Quantity`: 产品在交易中的数量。
- `InvoiceDate`: 发票日期和时间。交易发生的日期和时间。
- `UnitPrice`: 单价。价格单位为英镑（£）。
- `CustomerID`: 客户编号。5位数，作为客户的唯一标识符。
- `Country`: 国家名称。客户所居住的国家的名称。

## 读取数据

In [1]:
import pandas as pd

In [2]:
#传入数据并随机抽取数据查看样式
df_ecommerce = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_EvaluateAndClean/Project_Clean/e_commerce.csv")
df_ecommerce.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
352364,567671,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,2,9/21/2011 15:34,8.29,NaN,United Kingdom
170055,551276,21916,SET 12 RETRO WHITE CHALK STICKS,6,4/27/2011 13:06,0.42,16016.0,United Kingdom
7645,537049,22865,HAND WARMER OWL DESIGN,12,12/5/2010 11:04,2.10,16241.0,United Kingdom
341848,566787,22663,JUMBO BAG DOLLY GIRL DESIGN,3,9/15/2011 10:31,4.13,NaN,United Kingdom
422857,573122,22068,BLACK PIRATE TREASURE CHEST,2,10/27/2011 16:23,1.65,14357.0,United Kingdom
331548,566018,22728,ALARM CLOCK BAKELIKE PINK,3,9/8/2011 12:42,3.75,13137.0,United Kingdom
386918,570254,21411,GINGHAM HEART DOORSTOP RED,3,10/10/2011 9:41,4.25,16179.0,United Kingdom
226929,556813,90059A,DIAMANTE HAIR GRIP PACK/2 CRYSTAL,1,6/14/2011 17:28,1.65,NaN,United Kingdom
28895,538662,22371,AIRLINE BAG VINTAGE TOKYO 78,12,12/13/2010 15:44,3.75,15159.0,United Kingdom
309434,564088,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,8/23/2011 9:38,0.85,17702.0,United Kingdom

从随机抽取的10个样本数据来看，格式上整体符合：（1）每列是一个变量；（2）每行是一个样本；（3）每个单元格只有一个值。

因此可以得知，该数据再格式上是整齐数据，因此不需要从格式上进行清理，接下来需要看数据在内容上是否需要清洗。

## 评估与清洗数据

### 查看并修改数据类型

#### 查看数据类型

In [3]:
#对数据各列的数据类型（以及样本个数）情况进行查看
df_ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

可以得到`InvoiceDate`的数据类型应为日期，`CustomerID`的数据类型应为字符串，应当进行数据格式转换。

#### 运用to_datetime函数对`InvoiceDate`的数据类型进行修改

In [4]:
#对InvoiceDate的数据类型进行修改
df_ecommerce["InvoiceDate"] = pd.to_datetime(df_ecommerce["InvoiceDate"])
df_ecommerce["InvoiceDate"]

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

`InvoiceDate`的数据类型已经修改成datetime64格式了。

#### 运用astype函数修改`CustomerID`的数据类型

In [5]:
#对CustomerID的数据类型进行修改
df_ecommerce["CustomerID"] = df_ecommerce["CustomerID"].astype(str)
df_ecommerce["CustomerID"] = df_ecommerce["CustomerID"].str[0:5]
df_ecommerce["CustomerID"]

0         17850
1         17850
2         17850
3         17850
4         17850
          ...
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 541909, dtype: object

`CustomerID`的数据类型已经修改成object格式了（并且把该删除的小数点删除了）。

### 评估数据缺失值并进行处理

#### 评估缺失数据

In [6]:
#计算各行的空缺数据总和
df_ecommerce.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

由此可知`Description`有1454个空缺值。

In [7]:
#查看Description空缺的数据
df_ecommerce[df_ecommerce["Description"].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,nan,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,nan,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,nan,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,nan,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,nan,United Kingdom
...,...,...,...,...,...,...,...,...
535322,581199,84581,NaN,-2,2011-12-07 18:26:00,0.0,nan,United Kingdom
535326,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,nan,United Kingdom
535332,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,nan,United Kingdom
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,nan,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,nan,United Kingdom

通过导出的数据可以推断，`Description`空缺的数据其对应的`UnitPrice`都为0。

In [8]:
#筛选Description空缺且UnitPrice为0的数据
df_ecommerce[(df_ecommerce["Description"].isnull()) & (df_ecommerce["UnitPrice"] != 0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

筛选出来结果数量为0条，说明缺失`Description`值的数据，同时也不具备有效的`UnitPrice`值。

`Description`表示产品名称，`UnitPrice`表示产品单价，都是进行后续商品交易分析的重要变量。如果它们同时缺失/无效，我们认为数据无法提供有效含义，因此这些后续可以被删除。

#### 删除缺失的样本数据

In [9]:
#将Description缺失的数据删除
df_ecommerce.dropna(subset=["Description"], inplace=True)

In [10]:
#重新查看是否还存在缺失值
df_ecommerce.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

### 评估重复数据并进行处理

#### 评估重复数据

In [11]:
#查看重复数据情况
df_ecommerce.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Length: 540455, dtype: bool

In [12]:
#计算全部重复数据数量
df_ecommerce.duplicated().sum()

5268

筛选出来的完全重复的样本数据在数据分析中无意义，在后续的分析中甚至会产生干扰，因而应该进行删除。

#### 删除重复样本数据

In [13]:
#删除重复样本数据
df_ecommerce = df_ecommerce.drop_duplicates()

In [14]:
#查看是否还存在重复数据
df_ecommerce.duplicated().sum()

0

### 不一致数据的评估与处理

#### 评估不一致数据

从数据的各列变量中，推断`Country`最可能出现多个不一致数据表示同一含义，因而对其进行评估。

In [15]:
#对Country中出现的值进行数量统计
df_ecommerce["Country"].value_counts()

Country
United Kingdom          488639
Germany                   9480
France                    8541
EIRE                      8184
Spain                     2528
Netherlands               2371
Belgium                   2069
Switzerland               1994
Portugal                  1510
Australia                 1258
Norway                    1086
Italy                      803
Channel Islands            757
Finland                    695
Cyprus                     611
Sweden                     461
Unspecified                442
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     294
China                      284
Singapore                  229
USA                        218
UK                         206
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United States               73
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
U.K.                         1
Name: count, dtype: int64

从`Country`变量值来看，`"USA"`、`"United States"`均在表示美国，`"United Kingdom"`、`"UK"`、`"U.K."`均在表示英国，因此应该在清洗步骤对这些值进行统一，只保留一个指代值。

#### 修改不一致数据

In [16]:
#将美国、英国的对应值进行统一
df_ecommerce["Country"] = df_ecommerce["Country"].replace("USA", "United States")
df_ecommerce["Country"] = df_ecommerce["Country"].replace(["UK", "U.K."], "United Kingdom")

In [17]:
#查看被替换的值是否还存在
print(len(df_ecommerce[df_ecommerce["Country"] == "USA"]))
print(len(df_ecommerce[df_ecommerce["Country"] == "UK"]))
print(len(df_ecommerce[df_ecommerce["Country"] == "U.K."]))

0
0
0

### 错误或无效数据的评估与处理

#### 评估错误或无效数据

In [18]:
#对各列数据进行描述统计
df_ecommerce.describe()

            Quantity                    InvoiceDate      UnitPrice
count  535187.000000                         535187  535187.000000
mean        9.671593  2011-07-04 11:43:44.485273600       4.645242
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 15:38:00       2.080000
75%        10.000000            2011-10-19 08:20:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       219.059056                            NaN      97.364810

可以看到`Quantity`和`UnitPrice`的最小数值为负数，这与常规逻辑不符合，因而应对其进行进一步处理。

In [19]:
#提取出Quantity为负数的数据
df_ecommerce[(df_ecommerce["Quantity"]<0)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315,United Kingdom

观察提取出`Quantity`为负数的数据，发现其`InvoiceNo`的首字母都为C开头，说明都是被取消的订单，`Quantity`为负数是否都是取消的订单需要进一步验证。

In [20]:
#验证是否存在Quantity为负数未取消的订单
df_ecommerce[(df_ecommerce["Quantity"] < 0) & (df_ecommerce["InvoiceNo"].str[0] != "C")]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7313,537032,21275,?,-30,2010-12-03 16:50:00,0.0,nan,United Kingdom
13217,537425,84968F,check,-20,2010-12-06 15:35:00,0.0,nan,United Kingdom
13218,537426,84968E,check,-35,2010-12-06 15:36:00,0.0,nan,United Kingdom
13264,537432,35833G,damages,-43,2010-12-06 16:10:00,0.0,nan,United Kingdom
21338,538072,22423,faulty,-13,2010-12-09 14:10:00,0.0,nan,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,2011-12-07 18:36:00,0.0,nan,United Kingdom
535335,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,nan,United Kingdom
535336,581213,22576,check,-30,2011-12-07 18:38:00,0.0,nan,United Kingdom
536908,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,nan,United Kingdom
538919,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,nan,United Kingdom

可以提取出仍然存在`Quantity`为负数（且未被取消订单）的数据，但是可以发现提取的数据`UnitPrice`貌似都为0，需要进一步验证。

In [21]:
#验证是否存在Quantity为负数未取消且单价为0的订单
df_ecommerce[(df_ecommerce["Quantity"]<0) & (df_ecommerce["InvoiceNo"].str[0]!="C") & (df_ecommerce["UnitPrice"]!=0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

由此可以得出结论，`Quantity`为负数的数据，必满足以下两个条件之一：
- `InvoiceNo`的首字母为C开头（取消订单的数据）；
- `UnitPrice`都为0；  

这些交易数据均不是有效成交数据，不贡献销售，不在后续分析范围内，因此我们将在数据清理步骤，将`Quantity`为负数的观察值删除。

In [22]:
#提取出UnitPrice为负数的数据
df_ecommerce[(df_ecommerce["UnitPrice"]<0)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,nan,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,nan,United Kingdom

从提取出`UnitPrice`为负数的数据中，`StockCode`可知这些数据是作为坏账调整的交易数据，因而其也不作为实际成交数据，应进行删除。

#### 删除错误或无效样本数据

In [23]:
#重新对数据进行赋值，令其等于Quantity、UnitPrice为非负数的数据
df_ecommerce = df_ecommerce[df_ecommerce["Quantity"] >= 0]
df_ecommerce = df_ecommerce[df_ecommerce["UnitPrice"] >= 0]

In [24]:
#查看是否还存在Quantity、UnitPrice为负数的数据
print(len(df_ecommerce[df_ecommerce["Quantity"] < 0]))
print(len(df_ecommerce[df_ecommerce["UnitPrice"] < 0]))

0
0

## 保存清理后的数据

完成数据清理后，把干净整齐的数据保存到新的文件里，文件名为`e_commerce_cleaned.csv`。

In [25]:
#保存清理后的数据
df_ecommerce.to_csv("e_commerce_cleaned.csv", index=False)

In [26]:
#查看清理后的数据
df_ecommerce_cleaned = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_EvaluateAndClean/Project_Clean/e_commerce_cleaned.csv")
df_ecommerce_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525460 entries, 0 to 525459
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    525460 non-null  object
 1   StockCode    525460 non-null  object
 2   Description  525460 non-null  object
 3   Quantity     525460 non-null  int64
 4   InvoiceDate  525460 non-null  object
 5   UnitPrice    525460 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      525460 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.1+ MB

/var/folders/c5/wl5020591lz1g_q4qbdlp4b80000gn/T/ipykernel_97202/51767354.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ecommerce_cleaned = pd.read_csv("/Users/hardy/Desktop/Python_file/Python_DataAnalyst/Data_EvaluateAndClean/Project_Clean/e_commerce_cleaned.csv")

In [27]:
df_ecommerce_cleaned.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132728
Country             0
dtype: int64

In [28]:
df_ecommerce_cleaned.duplicated().sum()

0

In [29]:
df_ecommerce_cleaned.describe()

           Quantity      UnitPrice     CustomerID
count  525460.00000  525460.000000  392732.000000
mean       10.68106       3.918228   15287.734822
std       157.39957      36.073270    1713.567773
min         1.00000       0.000000   12346.000000
25%         1.00000       1.250000   13955.000000
50%         4.00000       2.080000   15150.000000
75%        11.00000       4.130000   16791.000000
max     80995.00000   13541.330000   18287.000000